---
swagger: "2.0"
info:
  description: "API to manage Site"
  version: "1.0.0"
  title: "API Site"
host: "api.mef.com"
basePath: "/"
schemes:
- "http"
consumes:
- "application/json;charset=utf-8"
produces:
- "application/json;charset=utf-8"
paths:
  /site:
    get:
      tags:
      - "site"
      operationId: "siteFind"
      summary: "Retieve a list of Site based on criteria"
      description: "List of criterias to be used as well as syntax of site summary\
        \ retrieved in the response is aligned with MEF requirements\n\nSpecific business\
        \ errors for current operation will be encapsulated in\n\nHTTP Response 422\
        \ Unprocessable entity\n"
      deprecated: false
      parameters:
      - name: "status"
        required: false
        in: "query"
        description: ""
        type: "string"
      - name: "siteCompanyName"
        required: false
        in: "query"
        description: ""
        type: "string"
      - name: "siteCustomerName"
        required: false
        in: "query"
        description: ""
        type: "string"
      - name: "geographicAddress.streetNr"
        required: false
        in: "query"
        description: ""
        type: "string"
      - name: "geographicAddress.streetName"
        required: false
        in: "query"
        description: ""
        type: "string"
      - name: "geographicAddress.streetType"
        required: false
        in: "query"
        description: ""
        type: "string"
      - name: "geographicAddress.city"
        required: false
        in: "query"
        description: ""
        type: "string"
      - name: "geographicAddress.postcode"
        required: false
        in: "query"
        description: ""
        type: "string"
      - name: "geographicAddress.country"
        required: false
        in: "query"
        description: ""
        type: "string"
      responses:
        200:
          description: "Success"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/SiteFindResp"
        400:
          description: "Bad Request\n\nList of supported error codes:\n- 20: Invalid\
            \ URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing\
            \ body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid\
            \ header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string\
            \ parameter value"
          schema:
            $ref: "#/definitions/ZError"
        401:
          description: "Unauthorized\n\nList of supported error codes:\n- 40: Missing\
            \ credentials\n- 41: Invalid credentials\n- 42: Expired credentials"
          schema:
            $ref: "#/definitions/ZError"
        404:
          description: "Not Found\n\nList of supported error codes:\n- 60: Resource\
            \ not found"
          schema:
            $ref: "#/definitions/ZError"
        408:
          description: "Request Time-out\n\nList of supported error codes:\n- 63:\
            \ Request time-out"
          schema:
            $ref: "#/definitions/ZError"
        422:
          description: "Unprocessable entity\n\nFunctional error"
          schema:
            $ref: "#/definitions/ZError"
        500:
          description: "Internal Server Error\n\nList of supported error codes:\n\
            - 1: Internal error"
          schema:
            $ref: "#/definitions/ZError"
        503:
          description: "Service Unavailable\n\nList of supported error codes:\n- 5:\
            \ The service is temporarily unavailable\n- 6: Orange API is over capacity,\
            \ retry later !"
          schema:
            $ref: "#/definitions/ZError"
  /site/{siteId}:
    get:
      tags:
      - "site"
      operationId: "siteGet"
      summary: "get site"
      description: "\n\nSpecific business errors for current operation will be encapsulated\
        \ in\n\nHTTP Response 422 Unprocessable entity\n"
      deprecated: false
      parameters:
      - name: "siteId"
        in: "path"
        required: true
        type: "string"
        description: ""
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/Site"
        400:
          description: "Bad Request\n\nList of supported error codes:\n- 20: Invalid\
            \ URL parameter value\n- 21: Missing body\n- 22: Invalid body\n- 23: Missing\
            \ body field\n- 24: Invalid body field\n- 25: Missing header\n- 26: Invalid\
            \ header value\n- 27: Missing query-string parameter\n- 28: Invalid query-string\
            \ parameter value"
          schema:
            $ref: "#/definitions/ZError"
        401:
          description: "Unauthorized\n\nList of supported error codes:\n- 40: Missing\
            \ credentials\n- 41: Invalid credentials\n- 42: Expired credentials"
          schema:
            $ref: "#/definitions/ZError"
        404:
          description: "Not Found\n\nList of supported error codes:\n- 60: Resource\
            \ not found"
          schema:
            $ref: "#/definitions/ZError"
        408:
          description: "Request Time-out\n\nList of supported error codes:\n- 63:\
            \ Request time-out"
          schema:
            $ref: "#/definitions/ZError"
        422:
          description: "Unprocessable entity\n\nFunctional error"
          schema:
            $ref: "#/definitions/ZError"
        500:
          description: "Internal Server Error\n\nList of supported error codes:\n\
            - 1: Internal error"
          schema:
            $ref: "#/definitions/ZError"
        503:
          description: "Service Unavailable\n\nList of supported error codes:\n- 5:\
            \ The service is temporarily unavailable\n- 6: Orange API is over capacity,\
            \ retry later !"
          schema:
            $ref: "#/definitions/ZError"
definitions:
  Status:
    description: ""
    type: "string"
    enum:
    - "Planned"
    - "Cancelled"
    - "UnderConstruction"
    - "Existing"
    - "Former"
  ZErrorDetail:
    description: ""
    required:
    - "code"
    - "message"
    type: "object"
    properties:
      code:
        description: ""
        type: "integer"
        format: "int32"
      message:
        description: ""
        type: "string"
      description:
        description: ""
        type: "string"
      infoURL:
        description: ""
        type: "string"
  ZError:
    description: ""
    required:
    - "code"
    - "message"
    type: "object"
    properties:
      code:
        description: ""
        type: "integer"
        format: "int32"
      message:
        description: ""
        type: "string"
      description:
        description: ""
        type: "string"
      infoURL:
        description: ""
        type: "string"
      details:
        description: ""
        type: "array"
        items:
          $ref: "#/definitions/ZErrorDetail"
  GeographicAddress:
    description: ""
    type: "object"
    properties:
      id:
        description: ""
        type: "string"
      streetNr:
        description: ""
        type: "string"
      streetNrSuffix:
        description: ""
        type: "string"
      streetNrLast:
        description: ""
        type: "string"
      streetName:
        description: ""
        type: "string"
      streetType:
        description: ""
        type: "string"
      streetSuffix:
        description: ""
        type: "string"
      locality:
        description: ""
        type: "string"
      city:
        description: ""
        type: "string"
      postcode:
        description: ""
        type: "string"
      stateOrProvince:
        description: ""
        type: "string"
      country:
        description: ""
        type: "string"
      geographicSubAddress:
        description: ""
        $ref: "#/definitions/GeographicSubAddress"
      geographicLocation:
        description: ""
        $ref: "#/definitions/GeographicLocation"
      addrLine1:
        description: ""
        type: "string"
      addrLine2:
        description: ""
        type: "string"
      postCodeExtension:
        description: ""
        type: "string"
      referenceId:
        description: ""
        type: "string"
      referenceType:
        description: ""
        type: "string"
      '@type':
        description: ""
        type: "string"
      '@schemaLocation':
        description: ""
        type: "string"
  Site:
    description: ""
    type: "object"
    properties:
      id:
        description: ""
        type: "string"
      description:
        description: ""
        type: "string"
      status:
        description: ""
        $ref: "#/definitions/Status"
      geographicAddress:
        description: ""
        $ref: "#/definitions/GeographicAddress"
      siteCompanyName:
        description: ""
        type: "string"
      siteCustomerName:
        description: ""
        type: "string"
      additionnalSiteInformation:
        description: ""
        type: "string"
      '@type':
        description: ""
        type: "string"
      '@schemaLocation':
        description: ""
        type: "string"
  GeographicPoint:
    description: ""
    type: "object"
    properties:
      spatialRef:
        description: ""
        type: "string"
      x:
        description: ""
        type: "string"
      y:
        description: ""
        type: "string"
  GeographicLocation:
    description: ""
    type: "object"
    properties:
      geographicPoint:
        description: ""
        type: "array"
        items:
          $ref: "#/definitions/GeographicPoint"
  GeographicSubAddress:
    description: ""
    type: "object"
    properties:
      id:
        description: ""
        type: "string"
      subUnitType:
        description: ""
        type: "string"
      subUnitNumber:
        description: ""
        type: "string"
      levelType:
        description: ""
        type: "string"
      levelNumber:
        description: ""
        type: "string"
      buildingName:
        description: ""
        type: "string"
      privateStreetNumber:
        description: ""
        type: "string"
      privateStreetName:
        description: ""
        type: "string"
      '@type':
        description: ""
        type: "string"
      '@schemaLocation':
        description: ""
        type: "string"
  GeographicAddressFindResp:
    description: ""
    type: "object"
    properties:
      streetNr:
        description: ""
        type: "string"
      streetName:
        description: ""
        type: "string"
      streetType:
        description: ""
        type: "string"
      city:
        description: ""
        type: "string"
      postcode:
        description: ""
        type: "string"
      country:
        description: ""
        type: "string"
  SiteFindResp:
    description: ""
    type: "object"
    properties:
      id:
        description: ""
        type: "string"
      status:
        description: ""
        $ref: "#/definitions/Status"
      siteCompanyName:
        description: ""
        type: "string"
      siteCustomerName:
        description: ""
        type: "string"
      geographicAddress:
        description: ""
        $ref: "#/definitions/GeographicAddressFindResp"
